.component-container {
  border-radius: 1rem;
  position: relative;
  overflow-y: auto;
  width: 100%;
  &.edit-mode {
    width: unset;
    padding: 2rem;
    box-shadow: 0 1px 5px 0.5px rgb(174, 174, 174);
  }

  .component-wrapper {
    gap: 1.5rem;
  }

  .component-container-content {
    position: relative;
  }

  .container-option-wrapper {
    background-color: aliceblue;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
  }
  .container-add-option-wrapper {
    align-self: center;
    &.column {
      margin-top: 1rem;
    }
    &.row {
      margin-left: 1rem;
    }
  }
  .container-delete-option-wrapper {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }

  .popup-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .component-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: 95vw;
    max-height: 30rem;
    overflow: auto;
  }

  .component-card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: #f0f0f0;
    }
  }

  .component-name {
    font-weight: bold;
  }

  .component-description {
    font-size: 14px;
    color: #666;
  }
}
