// Variables
$slider-max-width: 80rem;
$image-height: 30rem;
$arrow-size: 2rem;
$dot-width: 15px;
$dot-height: 15px;
$dot-radius: 100%;
$dot-margin: 0.3125rem;
$arrow-padding: 0.625rem;
$arrow-color: #fff;
$arrow-bg: rgba(0, 0, 0, 0.5);
$dot-border-color: #ce202f;
$dot-active-bg: #ce202f;

.slider-container {
  width: 100%;
  max-width: $slider-max-width;
  margin: 0 auto;
  padding: 1.25rem 0;
  position: relative;

  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .slide {
      width: 100%;
      display: flex;
      justify-content: center;

      .slide-image {
        width: 100%;
        height: $image-height;
        object-fit: cover;
        border-radius: 0.625rem;
        transition: transform 0.3s ease-in-out;
      }

      .empty-slide{
        width: 100%;
        height: $image-height;
        border-radius: 0.625rem;
        transition: transform 0.3s ease-in-out;
      }
    }

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: $arrow-size;
      background: $arrow-bg;
      color: $arrow-color;
      border: none;
      padding: $arrow-padding;
      cursor: pointer;
      z-index: 2;

      &.prev {
        left: $arrow-padding;
      }

      &.next {
        right: $arrow-padding;
      }
    }
  }

  .dots-container {
    display: flex;
    justify-content: center;
    margin-top: $arrow-padding;

    .dot {
      width: $dot-width;
      height: $dot-height;
      border-radius: $dot-radius;
      background-color: $arrow-color;
      border: 0.125rem solid $dot-border-color;
      margin: 0 $dot-margin;
      cursor: pointer;
      transition: background-color 0.3s;
      padding: 0;
      
      &.active {
        background-color: $dot-active-bg;
      }
    }
  }

  // Edit Mode Styles
  .edit-controls {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;

    .image-url-input {
      width: 600px;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #ccc;
      margin-right: 0.5rem;
    }

    button {
      padding: 0.625rem 1.25rem;
      border: none;
      background-color: #ce202f;
      color: #fff;
      cursor: pointer;
      border-radius: 0.5rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(#ce202f, 10%);
      }

      &:first-of-type {
        margin-right: 0.5rem;
      }
    }
  }
}
